body {
    background-image: -webkit-radial-gradient(white, #0193CD, #0193CD);
    background-image: -radial-gradient(white, #0193CD, #0193CD);
    background-color: #0193CD;
    background-size: 200% 200%;
    margin: 0px;
    padding: 0px;
}

#menu-cover {
    background: rgba(0, 0, 0, 0.84);
    width: 100%;
    height: 100%;
    position: absolute;

}

.menu{
    z-index: 10;
    position: relative;
    text-align: center;
    padding: 15%;
}

.menu>img {
    width: 50%;
}

button{
    font-family:Arial;
    color:#2a2a83;
    cursor:pointer;
    padding-left:1%;
    padding-right:1%;
    border: 2px ridge blue;
    border-radius: 25px;
    background-color: rgba(17, 93, 119, 0.35);
    transition-property:background;
    font-size:75px;
}

button:hover{
    background:#66D4E5;
}

#start-menu{
    position:absolute;
    z-index:100;
    text-align:center;
    margin:0 auto;
    width:100%;
}

.one_line_pic{
    width: 25% !important;
    cursor: pointer;
}

.two_line_pic{
    width: 35% !important;
    cursor: pointer;
}

.filler_pic{
    width: 53% !important;
    margin: 2% 0;
}
